.version.connecttu /* version checker */
{
	color: #000017;
	background-color: #A80107;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 958px;
	min-height: 893px;
	background-image: none;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}

#pu12351-3
{
	z-index: 29;
	width: 0.01px;
	height: 0px;
	padding-bottom: 102px;
	margin-right: -10000px;
	margin-top: -9px;
}

#u12351-3
{
	z-index: 29;
	min-height: 89px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.92;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
	filter: alpha(opacity=92);
	border-radius: 20px;
	position: fixed;
	top: -1px;
}

#u12351-3-bw
{
	z-index: 29;
}

#u12349-4
{
	z-index: 32;
	width: 100px;
	min-height: 35px;
	border-style: solid;
	border-width: 1px;
	border-color: #C93325;
	background-color: transparent;
	border-radius: 10px;
	color: #000000;
	text-align: center;
	font-size: 15px;
	line-height: 2.35;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: -73px;
}

#u12349-4:hover
{
	background-color: #C93325;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 99px;
	margin: 1px 0px 0px -72px;
}

#u12350-4
{
	z-index: 36;
	width: 100px;
	min-height: 35px;
	border-style: solid;
	border-width: 1px;
	border-color: #C93325;
	background-color: transparent;
	border-radius: 10px;
	color: #000000;
	text-align: center;
	font-size: 15px;
	line-height: 2.35;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: 35px;
}

#u12350-4:hover
{
	background-color: #C93325;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 99px;
	margin: 1px 0px 0px 36px;
}

#u12353-4
{
	z-index: 40;
	width: 100px;
	min-height: 35px;
	border-style: solid;
	border-width: 1px;
	border-color: #C93325;
	background-color: transparent;
	border-radius: 10px;
	color: #000000;
	text-align: center;
	font-size: 15px;
	line-height: 2.35;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: 143px;
}

#u12353-4:hover
{
	background-color: #C93325;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 99px;
	margin: 1px 0px 0px 144px;
}

#u12342-4
{
	z-index: 44;
	width: 100px;
	min-height: 35px;
	border-style: solid;
	border-width: 1px;
	border-color: #C93325;
	background-color: transparent;
	border-radius: 10px;
	color: #000000;
	text-align: center;
	font-size: 15px;
	line-height: 2.35;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: 251px;
}

#u12342-4:hover
{
	background-color: #C93325;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 99px;
	margin: 1px 0px 0px 252px;
}

#u12346-4
{
	z-index: 48;
	width: 100px;
	min-height: 35px;
	border-style: solid;
	border-width: 1px;
	border-color: #C93325;
	background-color: transparent;
	border-radius: 10px;
	color: #000000;
	text-align: center;
	font-size: 15px;
	line-height: 2.35;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: 359px;
}

#u12346-4:hover
{
	background-color: #C93325;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 99px;
	margin: 1px 0px 0px 360px;
}

#u12347
{
	z-index: 52;
	width: 214px;
	background-color: transparent;
	position: fixed;
	top: -8px;
	left: 50%;
	margin-left: -420px;
}

#u12347_img
{
	padding-bottom: 11px;
}

#pu12345
{
	z-index: 28;
	width: 0.01px;
	padding-bottom: 0px;
	margin: -3px -10000px -1px -2px;
}

#u12345
{
	z-index: 28;
	width: 961px;
	height: 89px;
	position: relative;
}

.ie #u12345
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12136
{
	z-index: 2;
	width: 940px;
	background-color: transparent;
	padding-bottom: 15px;
	margin-left: 1px;
	position: relative;
}

#pageone
{
	position: relative;
	margin-right: -10000px;
	width: 22px;
	margin-top: 123px;
}

#u12343
{
	z-index: 54;
	width: 273px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 345px;
}

#u12343_img
{
	padding-bottom: 48px;
}

#u12388
{
	z-index: 4;
	width: 607px;
	background-color: transparent;
	margin-left: 184px;
	margin-top: 24px;
	position: relative;
}

#ppu13520
{
	z-index: 10;
	width: 0.01px;
	margin-left: 235px;
	margin-top: 88px;
}

#u13520
{
	z-index: 11;
	height: 45px;
	width: 45px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/u13520.png?crc=3835012961") no-repeat 0px 0px;
}

#u13520:hover
{
	background: transparent url("../images/u13520-r.png?crc=427453210") no-repeat 0px 0px;
}

#u13522
{
	z-index: 14;
	height: 45px;
	width: 45px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 64px;
	background: transparent url("../images/u13522.png?crc=4119944699") no-repeat 0px 0px;
}

#u13522:hover
{
	background: transparent url("../images/u13522-r.png?crc=321456869") no-repeat 0px 0px;
}

#u13530
{
	z-index: 26;
	height: 45px;
	width: 45px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 127px;
	background: transparent url("../images/u13530.png?crc=3851209329") no-repeat 0px 0px;
}

#u13530:hover
{
	background: transparent url("../images/u13530-r.png?crc=146870850") no-repeat 0px 0px;
}

#u13526
{
	z-index: 20;
	height: 45px;
	width: 45px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 191px;
	background: transparent url("../images/u13526.png?crc=10995563") no-repeat 0px 0px;
}

#u13526:hover
{
	background: transparent url("../images/u13526-r.png?crc=3821930293") no-repeat 0px 0px;
}

#u13524
{
	z-index: 17;
	height: 45px;
	width: 45px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 254px;
	background: transparent url("../images/u13524.png?crc=406387937") no-repeat 0px 0px;
}

#u13524:hover
{
	background: transparent url("../images/u13524-r.png?crc=338771346") no-repeat 0px 0px;
}

#u13518
{
	z-index: 8;
	height: 45px;
	width: 45px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 317px;
	background: transparent url("../images/u13518.png?crc=237097593") no-repeat 0px 0px;
}

#u13518:hover
{
	background: transparent url("../images/u13518-r.png?crc=278598571") no-repeat 0px 0px;
}

#u13528
{
	z-index: 23;
	height: 45px;
	width: 45px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 381px;
	background: transparent url("../images/u13528.png?crc=4080000022") no-repeat 0px 0px;
}

#u13528:hover
{
	background: transparent url("../images/u13528-r.png?crc=59429556") no-repeat 0px 0px;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1387px);
}

#u13517
{
	z-index: 6;
	width: 1160px;
	height: 100px;
	border-color: #000000;
	background-color: #000000;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -101px;
	left: -110px;
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 62px;
}

.verticalspacer
{
	min-height: 1px;
}

